:root {
  --text: #000000;
  --backgroundLight: #f0f0f0;
  --background: #3e8b86;
  --secondary: #d7e1e1;
  --primary: #506868;
  --thirdary: #265f5b;
}
@font-face {
  font-family: "Montserrat_Alternates_Medium";
  src: url(/Brand_files/fonts/Montserrat_Alternates_Medium.ttf) format(truetype);
}

/* app */
body {
  color: var(--text);
  font-weight: bold;
  margin: 0;
  font-family: "Montserrat_Alternates_Medium";
  background-color: var(--secondary);
}

.Connexion {
  background-color: var(--background);
  position: relative;
  height: 50vh;
}

.centered-element {
  border: solid 2px;
  border-radius: 30px;
  text-align: center;
  height: 400px;
  width: 500px;
  margin: 15vh auto;
  border-color: var(--thirdary);
}

body .Connexion input {
  width: 50%;
  border-radius: 5px;
  border-color: var(--thirdary);
}

body .Connexion button {
  border: 2px solid;
  border-color: var(--secondary);
  margin: 5px 0;
  width: 30%;
  border-radius: 7px;
}

body .Connexion button:hover {
  border-radius: 7px;
  margin: 5px 0;
  width: 30%;
  background-color: var(--backgroundLight);
  border-color: var(--primary);
}

body main form {
  font-size: 20px;
}

/* HomePage */

header {
  color: var(--text);
  background-color: var(--background);
  border-bottom: solid 2px var(--thirdary);
  text-align: center;
  vertical-align: top;
}

nav.menu-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.menu-nav ul li {
  vertical-align: top;
  display: inline-block;
  padding: 5px 15px 5px 10px;
  font-size: 22px;
}

nav.menu-nav ul li.bouton {
  text-decoration: none;
  margin: 1vh;
  border-right: solid 2px var(--thirdary);
  border-bottom: solid 2px var(--background);
}

nav.menu-nav ul li.bouton:hover {
  border-radius: 0 0 15px 0;
  background-color: var(--secondary);
  transition: 0.2s;
  border-bottom-color: var(--thirdary);
}

nav.sous_menu-nav {
  text-align: center;
}

nav.sous_menu-nav ul {
  padding: 0;
}

nav.sous_menu-nav ul li {
  display: inline-block;
  width: auto;
  padding: 0 10px 3px 5px;
  border-right: solid 2px var(--background);
  border-bottom: solid 2px var(--secondary);
  font-size: 18px;
}
nav.sous_menu-nav ul li.bouton {
  color: var(--text);
  text-decoration: none;
  margin: 12px;
}
nav.sous_menu-nav ul li.bouton:hover {
  border-radius: 0 0 15px 0;
  background-color: var(--backgroundLight);
  transition: 0.2s;
  border-bottom-color: var(--background);
}

footer {
  padding: 0 0 0 10px;
  font-size: 10px;
  color: var(--text);
}

/* ZoneTravail */
.ZoneTravail {
  margin: 0 30px 10px 30px;
}

.creation {
  border: 2px solid var(--thirdary);
  border-radius: 7px;
  color: var(--text);
  width: 100%;
  padding: 0 0 16px 0;
}
.creation p {
  margin: 16px;
}
.submit,
.custom-select,
.custom-input {
  text-align: center;
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 0 33%;
  border: 1px solid var(--thirdary);
  width: 33%;
}
.submit {
  font-weight: bold;
}
.submit:hover {
  border: 1px solid var(--thirdary);
  border-radius: 7px;
  background-color: var(--background);
  color: var(--backgroundLight);
  font-weight: bold;
}
